body {
        	padding-top: 60px;
}

#photo {
	width: 100px;
	height: 100px;
}

.button-icon {
	width: 30px;
	height: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fill {
	background-color: #eee;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 1px 1px 5px #888888;
	width: 700px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.next {
    margin-top: 20px;
}
